footer{
    background-color: #d96831;
    font-size: 1.2em;
    color: #172c3c;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
}